<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".StartwarsApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StarWars"
        tools:targetApi="31">
        <activity
            android:name=".ui.spaceship.SpaceshpActivityMain"
            android:exported="false" />
        <activity
            android:name=".ui.character.CharacterActivityMain"
            android:exported="false" />
        <activity
            android:name=".ui.character.CharacterMainActivity"
            android:exported="false"
            android:theme="@style/Theme.StarWars" />
        <activity
            android:name=".ui.character.CharacterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.character.CharacterActivityMainActivity"
            android:exported="false"
            android:theme="@style/Theme.StarWars" />
        <activity
            android:name=".ui.Character"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.StarWars">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>